@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap")
body {
  background-color: rgb(248, 248, 63);
  display: grid;
  place-content: center;
  font-family: "Alfa Slab One", serif;
}
h2 {
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  font-family: "Alfa Slab One", serif;
  animation: 5s scale ease infinite;
}
svg {
  height: 15rem;
  animation: 5s scale-svg ease infinite;
  margin-inline: auto;
  width: 10rem;
  fill: rgb(114, 10, 100);
}
.fuck-you {
  overflow: visible;
  display: grid;
  place-content: center;
  width: fit-content;
  margin-inline: auto;
  margin-top: 10%;
  color: blue;
  background-clip: text;
  background-image: linear-gradient(
    45deg,
    purple, red, purple, blue
  );
}

@keyframes scale {
  50%{
      font-size: 5em;
   }
}

@keyframes scale-svg{
  50%{
    scale: 1.5;
  }
}
